
<div class="row">
<div class="col-sm-6">
  <%= render partial: 'shared/errors', object: @movie.errors %>
  <header>
    <h1>Add a New Movie</h1>
  </header>
  <%= render partial: 'form' %>
  </div>
</div>
